/* ============================================================================================= */
.footer {
   padding: 20px 0;
}
._footer-title {
   font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1440 - 320)));
   line-height: calc(29 / 24 * 100%);
   color: #000;
   font-weight: 700;
   margin-bottom: calc(16/24 * 1em);
}
.footer__container {
}
.footer__body {
   border-top: 1px solid #d8d8d8;
   display: flex;
   /*  */ 
   padding-top: calc(30px + (60 - 30) * ((100vw - 320px) / (1440 - 320)));
}
@media(max-width: 992px){
   .footer__body{
      display: block;
   }
}
.footer__main {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-right: calc(65 * ((100vw - 320px) / (1440 - 320)));
   flex: 0 0 250px;
}
@media(max-width: 1200px){
   .footer__body{
      flex-wrap: wrap;
   }
   .footer__main{
      flex: 1 1 100%;
      margin-bottom: calc(30px + (40 - 30) * ((100vw - 320px) / (1440 - 320)));

   }
}

.footer__logo {
}

.footer__text {
   color: var(--gray);
   line-height: 150%;
}
.footer__text:not(:last-child){
   margin: 0 0 1em 0;
}
.footer__contacts {
}
.contacts-footer {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.contacts-footer__item {
   display: inline-flex;
   align-items: center;
   color: var(--gray);
   line-height: 150%;
   transition: color 0.3s;
}
@media(any-hover: hover){
   .contacts-footer__item:hover{
      color: var(--primary);
   }
}
.contacts-footer__item:not(:last-child){
   margin-bottom: calc(10px + (16 - 10) * ((100vw - 320px) / (1440 - 320)));
}
.contacts-footer__item i::before{
   margin: 0 5px 0 0;
}
.footer__menu {
   flex: 1 0 auto;
   margin-right: calc(65 * ((100vw - 320px) / (1440 - 320)));
}
@media(max-width: 992px){
   .footer__menu{
      margin-bottom: calc(30px + (40 - 30) * ((100vw - 320px) / (1440 - 320)));
   }
}
.menu-footer {
   
}
.menu-footer__column {
}
@media(max-width: 768px){
   .menu-footer__column {
      margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
   }
}
@media(min-width: 768px){
   .menu-footer {
      display: flex;
   }
   .menu-footer__column {
      flex: 0 1 33.333%;
   }
}
.menu-footer__title {
   cursor: default;
   background: inherit;
}
.menu-footer._init .menu-footer__title{
   display: flex;
   width: 100%;
   justify-content: space-between;
   position: relative;
   align-items: center;
}

.menu-footer__title i{
   display: none;
}
.menu-footer._init .menu-footer__title i{
   transition: 0.3s;
   font-size: 28px;
   display: block;
}
.menu-footer__title._active i{
   transform: rotate(180deg);
}
@media(max-width: 768px){
   .menu-footer__title{
      margin: 0;
   }
}
.menu-footer__list {

}
@media(max-width: 768px){
   .menu-footer__list {
      padding: 15px 0 0 0;
   }
}
.menu-footer__list li:not(:last-child){
   margin: 0 0 15px 0;
}
.menu-footer__link {
   color: var(--darkGray);
   transition: color 0.3s;
   line-height: 120%;
   font-weight: 500;
}
@media(any-hover: hover){
   .menu-footer__link:hover{
      color: var(--primary);
   }
}
.footer__subscribe {
   flex: 0 0 290px;
}
.subscribe-footer {
}
.subscribe-footer__title {
}
.subscribe-footer__form {
   display: flex;
}

.subscribe-footer__input{
   padding: 0 12px;
   background-color: #F4F5F7;
   font-size: 16px;
}

.subscribe-footer__btn {
   flex: 0 0 45px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   margin: 0 0 0 4px;
   color: #fff;
   transition: 0.3s;
}

.subscribe-footer__btn:hover{
      
}
/* ============================================================================================= */