.lessons {
    padding: 145px 0 0 0;
}

@media (max-width: 992px) {
    .lessons {
        padding: 100px 0 0 0;
    }
}

@media (max-width: 768px) {
    .lessons {
        padding: 70px 0 0 0;
    }
}

.lessons__banner {
    position: relative;
    padding-bottom: 16%;
    margin-bottom: calc(30px + (45 - 30) * ((100vw - 320px) / (1440 - 320)));
}

.lessons__banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lessons__row {}

@media(min-width: 992px) {
    .lessons__row {
        display: flex;
    }
}

/* Sidebar */
.lesson__sidebar {}

.sidebar-lesson {
    flex: 0 0 400px;
}

@media(max-width: 1200px) {
    .sidebar-lesson {
        flex: 0 0 320px;
    }
}

@media(max-width: 992px) {
    .sidebar-lesson {
        margin-bottom: 20px;
    }
}

.sidebar-lesson__title {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-lesson__title i {
    display: none;
    font-size: 28px;
}

.lessons .modules-programm__spoller {
    /* border-bottom: 4px solid #ebf1f3; */
    border: none;
}

@media(min-width: 992px) {
    .lessons .modules-programm__spoller {
        padding-right: 20px;
    }
}

@media(max-width: 767px) {
    .sidebar-lesson__title {
        justify-content: space-between;
        padding: 0 14px;
    }

    .sidebar-lesson__title i {
        display: block;
    }

    .lessons .modules-programm__spoller {
        border-color: #dfe0e0;
    }
}

/* Content */

.lessons__preview {
    flex: 1 1 auto;
    min-width: 0;
}

.lessons__preview .header-content {
    position: static;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f8fa;
}

.header-content__control {
    font-size: 28px;
}

.header-content__right {
    display: flex;
}

/*  */
.lesson__content {}

.content-lesson {
    padding-left: calc(24 * ((100vw - 320px) / (1440 - 320)));
    padding-right: calc(24 * ((100vw - 320px) / (1440 - 320)));
    padding-bottom: calc(24 * ((100vw - 320px) / (1440 - 320)));
}

.content-lesson__info {}

.content-lesson__info:not(:last-child) {
    margin-bottom: 40px;
}

.content-lesson__body {
    overflow: hidden;
}

.content-lesson__video {
    position: relative;
    padding-bottom: 35%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 40px;
}

.content-lesson__video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-lesson__navigation {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    margin-top: 30px;
    padding-bottom: 10px;
}

.content-lesson__text {
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1440 - 320)));
    line-height: 130%;
}

.content-lesson__navigation a,
.content-lesson__text a {
    color: #0965b8;
}

@media(any-hover: hover) {

    .content-lesson__navigation a:hover,
    .content-lesson__text a:hover {
        opacity: 0.8;
    }
}

/* Arduino Course Styles */
.content-lesson__title {
    margin: 0 0 calc(35/22 * 1em) 0;
}

.ui-lesson__list {
    list-style-type: disc;
}

.ui-lesson__list {}

.ui-lesson__list li {
    position: relative;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    padding-left: 15px;
}

.ui-lesson__list li:after {
    content: "";
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: #000;
}

.ui-lesson__table {
    border: 1px solid #dee2e6;
    width: calc(100% - 2px);
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.ui-lesson__table thead th {
    font-size: 19px;
    border-bottom-width: 2px;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.ui-lesson__table th,
.ui-lesson__table td {
    border: 1px solid #dee2e6;
    padding: .75rem;
    vertical-align: top;
}

.ui-lesson__table td {
    font-size: 18px;
    font-weight: 500;
    line-height: 125%;
}

.checkbox-ui {
    position: relative;
    margin: 0 auto;
    max-width: 22px;
    height: 22px;
    border: 1px solid #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.checkbox-ui._checked {}

.checkbox-ui i {
    font-size: 25px;
    transition: 0.3s;
    color: #4BB543;
    transform: translateY(20%);
    opacity: 0;
}

.checkbox-ui._checked i {
    transform: translateY(0);
    opacity: 1;
}

.content-lesson__nested {
    text-align: center;
}

.nested-lesson {}

.nested-lesson__body {
    margin: 30px 0 20px 0;
}

.nested-lesson__slide {
    flex: 0 1 100%;
    padding-bottom: 63%;
}

@media(max-width: 576px) {
    .nested-lesson__slide {
        padding-bottom: 77%;
    }
}

.nested-lesson__slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* slider modules */
.nested-lesson__navigation {
    display: flex;
    justify-content: space-between;
}

.nested-lesson__prev,
.nested-lesson__next {
    transition: 0.4s;
    font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1440 - 320)));
    z-index: 10;
    cursor: pointer;
    color: var(--primary);
}

.nested-lesson__prev.swiper-button-disabled,
.nested-lesson__next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

/* bullet styles */
/* .nested-lesson__pagination {
    display: flex;
    justify-content: center;
    position: relative;
} */

.nested-lesson__pagination {
    background: rgba(0, 0, 0, .25);
    width: 100%;
    height: 6px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.nested-lesson__pagination .swiper-pagination-progressbar-fill {
    background: var(--primary);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
}