.lessons {
    display: flex;
}

/* Sidebar */

.lesson__sidebar {
}
.sidebar-lesson {
    flex: 0 0 400px;
}

@media(max-width: 1200px){
    .sidebar-lesson {
        flex: 0 0 320px;
    }
}

.sidebar__arrow{
    cursor: pointer;
    transition: 0.2s;
}

.sidebar__arrow_animate._open{
    transform: rotate(180deg);
}

@media(max-width: 767px){
    .sidebar-lesson {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: #ebf1f3;
        transition: 0.3s;
    }
    .sidebar-lesson._open {
        left: 0;
    }
 }

 @media(min-width: 767px){
    .sidebar-lesson._open {
        display: none;
    }
 }

.sidebar-lesson__title{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-lesson__title i{
    display: none;
    font-size: 28px;
}

.lessons .modules-programm__spoller{
    border-bottom: 4px solid #ebf1f3;
    padding: 0 17px;
}

@media(max-width: 767px){
    .sidebar-lesson__title{
        justify-content: space-between;
        padding: 0 14px;
    }
    .sidebar-lesson__title i{
        display: block;
    }
    .lessons .modules-programm__spoller{
        border-color: #dfe0e0;
    }
 }

/* Content */

.lessons__preview {
    flex: 1 1 auto;
}

.lessons__preview .header-content{
    position: static;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f8fa;
}

.header-content__control{
    font-size: 28px;
}

.header-content__right{
    display: flex;
}

/*  */
.lesson__content{
}
.content-lesson{
    padding: 24px;
}

.content-lesson__video {
    position: relative;
    padding-bottom: 35%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 40px;
}

.content-lesson__video video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-lesson__navigation{
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    margin-top: 25px;
}

.content-lesson__text{
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1440 - 320)));
}

.content-lesson__navigation a,
.content-lesson__text a{
    color: var(--primary);
}

@media(any-hover: hover){
    .content-lesson__navigation a:hover,
    .content-lesson__text a:hover{
        opacity: 0.8;
    }
}